@page "/"

<PageTitle>主页</PageTitle>

<h1>FishCardGame.UIDemo</h1>

<h4>你可以在"默认设置"中设定发牌时手牌数和生命值</h4>

<h4 hidden="@Started">点击"开始"来开始一局新游戏</h4>

<button class="nav-link" @onclick=ClickToStart>
    <span class="oi oi-loop" aria-hidden="true"></span>
    @showText
</button>
<br />

<ShowCard id="1"/>
@code
{
    public static bool Started = false;
    public static string showText = "开始";
    private void changeToStatedMode()
    {
        Started = true;
        showText = "重新开始";
    }

    private void changeToRestartMode()
    {
        Started = false;
        showText = "开始";
    }
    private void ClickToStart()
    {
        changeToStatedMode();
    }
}


